*.iml
*.ipr
*.iws
*.pyc
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/codeStyles
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
